$color-black: #000;
$color-white: #fff;
$color-green: rgb(114, 184, 10);
$color-gray: rgb(112, 109, 109);
$color-light-gray: rgb(197, 196, 196);
$color-purple: rgb(128, 0, 128);
$color-yellow: rgb(250, 250, 20);
