@import "colors";

.header {
  width: 100%;
  height: 64vh;

  background-image: linear-gradient(
      rgba($color-black, 0.9),
      rgba($color-black, 0.6)
    ),
    url(../images/bigstock-Couple-eating-romantic-Dinner-211393663.jpg);
  background-size: 25rem;
  background-repeat: no-repeat;
  @media (min-width: 425px) {
    background-size: 27rem;
  }
  @media (min-width: 768px) {
    background-size: 100%;
    height: 32rem;
  }

  .logo {
    font-size: 1.5rem;
    color: $color-white;
    border: 1px solid $color-white;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  // *hamberger menu *//
  .overlay {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 1s;
  }
  .open-nav {
    font-size: 2rem;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }

  .overlay-content {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  hr {
    width: 50%;
    text-align: center;
    margin: 1rem auto;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: $color-green;
    transition: 1s;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 425px) {
      padding: 0rem 1rem 0 1rem;
    }

    &-main {
      text-align: center;
      color: $color-white;
      margin: 5rem auto 0rem auto;
      padding: 0 0 1rem 0;
      font-size: 1.4rem;
      @media (min-width: 425px) {
        padding: 0 0 1.5rem 0;
      }
      @media (min-width: 768px) {
        font-size: 2rem;
        margin: 6rem 0 1.8rem 0;
      }
    }
    &-sub {
      text-align: center;
      font-size: 1rem;
      margin: 0 auto 1.5rem auto;
      color: $color-white;
      @media (min-width: 425px) {
        margin: 0 auto 2rem auto;
      }
      @media (min-width: 768px) {
        font-size: 1.5rem;
      }
      @media (min-width: 768px) {
        margin: 0 0 4rem 0;
      }
    }
  }
  .search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    input {
      width: 12rem;
      height: 2rem;
      border: none;
      outline: none;
      border-radius: 40px;
      @media (min-width: 425px) {
        width: 14rem;
        height: 2.5rem;
      }
      @media (min-width: 768px) {
        width: 18rem;
        height: 2.8rem;
      }
    }
    ::placeholder {
      font-size: 0.75rem;
      padding-left: 1rem;
      color: $color-green;
    }
    .fas {
      position: relative;
      right: 2rem;
      font-size: 1.5rem;
      color: $color-green;
      text-align: center;
      @media (min-width: 768px) {
        font-size: 1.6rem;
      }
    }
  }
}
