.section {
  width: 100%;
  height: auto;
  .companies {
    @include flex-box;

    &-text {
      display: inline-block;
      text-align: center;
      color: $color-gray;
      font-weight: bold;
      font-size: 1.3rem;
      margin-top: 3rem;
      @media (min-width: 768px) {
        margin-top: 3rem;
        font-size: 1.8rem;
      }
      @media (min-width: 1024px) {
        font-size: 2.8rem;
        margin-bottom: 2rem;
      }
    }

    &-logo {
      @include flex-box;
      width: 100%;
      height: auto;

      margin-top: 2rem;
      @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;
      }

      .image {
        width: 10rem;
        margin: 2rem;
        @media (min-width: 1024px) {
          width: 12rem;
        }
      }
    }
  }
  @media (min-width: 768px) {
    hr {
      display: none;
    }
  }

  .our-service {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    &--heading {
      font-size: 2rem;
      color: $color-gray;
      letter-spacing: 0.3rem;
      padding: 1rem;
      @media (min-width: 768px) {
        font-size: 2.2rem;
        margin: 2rem 0 0 0;
      }
      @media (min-width: 1024px) {
        font-size: 3rem;
        margin: 10rem 0 0 0;
      }
    }
    &--sub {
      font-size: 1rem;
      color: $color-gray;

      @media (min-width: 768px) {
        font-size: 1.5rem;
      }
      @media (min-width: 1024px) {
        font-size: 1.8rem;
        padding: 2rem;
        display: inline-block;
        margin-bottom: 5rem;
      }
    }
  }
  .cards {
    @include flex-box;
    width: 100%;
    margin-top: 8rem;
    @media (min-width: 768px) {
      flex-direction: row;
    }

    .card {
      width: 14rem;
      height: 15rem;
      text-align: center;
      border: 1px solid $color-gray;
      margin: 0.5rem;
      border: none;
      box-shadow: 0.1rem 0.1rem 0.5rem $color-light-gray;
      border-radius: 10px;
      transition: 0.5s;
      &:hover {
        transform: scale(1.2);
        background-color: $color-green;
        color: $color-white;
      }

      @media (min-width: 425px) {
        width: 15rem;
        height: 16.5rem;
      }
      @media (min-width: 768px) {
        width: 14.5rem;
      }
      @media (min-width: 1024px) {
        width: 20rem;
        height: 20rem;
      }

      .fa-home {
        color: orangered;
        font-size: 3rem;
        padding: 1.5rem;
        @media (min-width: 1024px) {
          font-size: 4rem;
        }
      }
      .fa-asymmetrik {
        color: $color-yellow;
        font-size: 3rem;
        padding: 1.5rem;
        @media (min-width: 1024px) {
          font-size: 4rem;
        }
      }
      .fa-basketball-ball {
        color: $color-purple;
        font-size: 3rem;
        padding: 1.5rem;
        @media (min-width: 1024px) {
          font-size: 4rem;
        }
      }
      &-main {
        padding: 1.2rem;
        font-size: 1rem;
        font-weight: bolder;
        @media (min-width: 425px) {
          font-size: 1.5rem;
        }
        @media (min-width: 768px) {
          font-size: 1.2rem;
        }
        @media (min-width: 1024px) {
          font-size: 1.7rem;
          padding: 2rem;
        }
      }
      &-sub {
        font-size: 1rem;

        padding: 0.5rem;
        color: $color-gray;

        @media (min-width: 425px) {
          font-size: 1.1rem;
        }
        @media (min-width: 1024px) {
          font-size: 1.3rem;
        }
      }
    }
  }
}
