.section {
  width: 100%;
  //  * margin: 6rem auto 0 auto;
  .companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
      display: inline-block;
      text-align: center;
      color: $color-green;
      font-weight: bold;
      font-size: 1.3rem;
      margin-top: 3rem;
    }

    &-logo {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .image {
        width: 80%;
        padding: 2rem;
      }
    }
  }
}
