.section {
  width: 100%;
  .companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
      display: inline-block;
      text-align: center;
      color: $color-gray;
      font-weight: bold;
      font-size: 1.3rem;
      margin-top: 5rem;
      @media (min-width: 768px) {
        margin-top: 12rem;
        font-size: 1.8rem;
      }
    }

    &-logo {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;
      }

      .image {
        width: 10rem;
        margin: 2rem;
      }
    }
  }
  @media (min-width: 768px) {
    hr {
      display: none;
    }
  }

  .our-service {
    width: 100%;
    text-align: center;
    &--heading {
      font-size: 2rem;
      color: $color-gray;
      letter-spacing: 0.3rem;
      padding: 1rem;
      @media (min-width: 768px) {
        font-size: 2.2rem;
        margin: 2rem 0 0 0;
      }
    }
    &--sub {
      font-size: 1rem;
      color: $color-gray;
      @media (min-width: 768px) {
        font-size: 1.5rem;
      }
    }
  }
  .cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    @media (min-width: 768px) {
      flex-direction: row;
    }

    .card {
      width: 14rem;
      height: 15rem;
      text-align: center;
      border: 1px solid $color-gray;
      margin: 0.5rem;
      border: none;
      box-shadow: 0.1rem 0.1rem 0.5rem $color-light-gray;
      border-radius: 10px;
      @media (min-width: 425px) {
        width: 15rem;
        height: 16.5rem;
      }
      @media (min-width: 768px) {
        width: 14.5rem;
      }

      .fa-home {
        color: $color-green;
        font-size: 3rem;
        padding: 1.5rem;
      }
      .fa-asymmetrik {
        color: $color-yellow;
        font-size: 3rem;
        padding: 1.5rem;
      }
      .fa-basketball-ball {
        color: $color-purple;
        font-size: 3rem;
        padding: 1.5rem;
      }
      &-main {
        padding: 1.2rem;
        font-size: 1rem;
        font-weight: bolder;
        @media (min-width: 425px) {
          font-size: 1.5rem;
        }
        @media (min-width: 768px) {
          font-size: 1.2rem;
        }
      }
      &-sub {
        font-size: 1rem;
        font-size: 1rem;
        padding: 0.5rem;
        color: $color-gray;
        @media (min-width: 425px) {
          font-size: 1.1rem;
        }
      }
    }
  }
}
