*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 100%;
  height: auto;
}
@mixin flex-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@import "header";
@import "section";
