*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 100%;
  height: auto;
}

@import "header";
@import "section";
